<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-10 d-flex">
      <h3 class="my-bg-lggray mr-auto">商品一覧</h3>
      <%= link_to new_admin_item_path, class: "btn border rounded-circle pb-2 shadow bg-white", style: "width:3rem;height:3rem;" do %>
        <h3>+</h3>
      <% end %>
    </div>
  </div>
  <div class="row">
    <table class="table item-table">
      <thead class="thead-light">
        <tr>
          <th class="col-1">商品ID</th>
          <th class="col-3">商品名</th>
          <th class="col-2">税抜価格</th>
          <th class="col-4">ジャンル</th>
          <th class="col-2">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td class="item-id">
              <%= item.id %>
            </td>
            <td class="item-name">
              <%= link_to item.name,admin_item_path(item.id) %>
            </td>
            <td class="item-price">
              <%= item.price %>
            </td>
            <td class="item-genre">
              <%= item.genre.name %>
            </td>
            <td class="item-is_active <%= item.status_color %>">
              <%= item.status_text %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
</div>
<%= paginate @items %>