<div class="container">

  <div class="row my-5">
    <div class="col-8 offset-2">
      <h3 class="my-bg-lggray">管理者ログイン</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-6 offset-3">
      <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
        <div class="form-group row">
          <%= f.label :email, 'メールアドレス', class: "col-4 my-1" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-8 form-control" %>
        </div>

        <div class="form-group row">
          <%= f.label :password, 'パスワード', class: "col-4 my-1" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "col-8 form-control" %>
        </div>

        <div class="actions row">
          <%= f.submit "ログイン", class: "btn btn-primary offset-4 col-3" %>
        </div>
      <% end %>

      <%= render "admin/shared/links" %>
    </div>
  </div>

</div>