<div>
  <%= render 'public/genres/list', genres: @genres %>

  <div>
    <div>
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
    </div>
  </div>

  <div>
    <h2>新着商品</h2>
    <div>
      <% @new_items.each do |new_item| %>
        <div>
          <%= link_to item_path(new_item) do %>
          <%= attachment_image_tag new_item, :image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg" %>
          <%= new_item.name %>
          <% end %>
          \<%= new_item.add_tax_price.to_s(:delimited) %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <%= link_to 'すべての商品を見る', items_path %>
  </div>
</div>
