<div class="container col-8">
  <div class="row mt-5">
    <div class="col-4">
      <h3 class="my-bg-lggray"><%= @orders_title %>注文履歴一覧</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
    <table class="orders-table table" width="100%">
      <thead>
        <tr class="table-secondary">
          <th class="col-3">購入日時</th>
          <th class="col-3">購入者</th>
          <th class="col-3">注文個数</th>
          <th class="col-3">注文ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td>
              <%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order)  %>
            </td>
            <td>
              <%= order.customer.full_name %>
            </td>
            <td>
              <%= order.item_total_count %>
            </td>
            <td>
              <%= order.status_i18n %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
    </div>
  </div>

</div>
<%= paginate @orders %>