<div class="d-flex justify-content-between w-75 mx-auto my-4">
  <h3 class="my-bg-lggray">ショッピングカート</h3>
  <%= link_to 'カートを空にする', cart_items_path, method: :delete,
  data: { confirm: 'カートを空にしますか？'}, class: "btn btn-danger" %>
</div>

<table class="table w-75 mx-auto table-bordered text-nowrap">
  <thead class="bg-light">
    <tr>
      <th scope="row" style="width:40%;">商品名</td>
      <th scope="row" style="width:15%;">単価(税込)</td>
      <th scope="row" style="width:15%;">数量</td>
      <th scope="row" style="width:15%;">小計</td>
      <th scope="row" style="width:15%;"></td>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <td class="align-middle">
        <%= attachment_image_tag cart_item.item, :image, :fill, 80, 40, format: 'jpeg', fallback: "no_image.jpg" %>
        <span class="ml-3"><%= cart_item.item.name %></span>
      </td>
      <td class="align-middle">
        <%= cart_item.item.add_tax_price.to_s(:delimited) %>
      </td>
      <td>
        <%= form_with model: cart_item, class: "form-inline", local: true do |f| %>
          <%= f.select :amount, *[1..10], {selected: "#{cart_item.amount}"}, {class: "form-control w-50"} %>
          <%= f.submit "変更", class: "btn btn-success ml-1" %>
        <% end %>
      </td>
      <td class="align-middle">
        <%= cart_item.subtotal.to_s(:delimited) %>
      </td>
      <td class="align-middle text-center">
          <%= link_to "削除する", cart_item_path(cart_item), method: :delete,
          data: { confirm: '削除しますか？' }, class: "btn btn-danger" %>
      </td>
      <% @total_price += cart_item.subtotal %>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex w-75 mx-auto mt-5 justify-content-between align-items-center">
  <%= link_to '買い物を続ける', '/', class: "btn btn-primary ml-5" %>
  <div class="d-flex w-25">
    <div class="border w-50 pl-1 py-3 bg-light">合計金額</div>
    <div class="border w-50 pl-1 py-3"><%= @total_price.to_s(:delimited) %></div>
  </div>
</div>
<div class="d-flex justify-content-center mt-5">
  <%= link_to '情報入力に進む', new_order_path, class: "btn btn-success" %>
</div>