<div class="container">
  <div class="my-5">
    <div class="ml-5">
      <h3 class="my-bg-lggray d-inline-block">新規会員登録</h3>
    </div>
  </div>

  <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

  <div class="form-group row">
      <label class="col-2 align-self-center">名前</label>
      <%= f.label :last_name,'（姓）', class: "col-1 pl-4 pr-0" %>
      <%= f.text_field :last_name, autofocus: true, autocomplete: "family-name", class: "col-3 form-control" %>
      <%= f.label :first_name,'（名）', class: "col-1 pl-4 pr-0" %>
      <%= f.text_field :first_name, autocomplete: "given-name", class: "col-3 form-control" %>
  </div>

    <div class="form-group row">
      <label class="col-2 align-self-center">フリガナ</label>
      <%= f.label :last_name_kana,'（セイ）', class: "col-1 pl-4 pr-0" %>
      <%= f.text_field :last_name_kana, class: "col-3 form-control" %>
      <%= f.label :first_name_kana,'（メイ）', class: "col-1 pl-4 pr-0" %>
      <%= f.text_field :first_name_kana, class: "col-3 form-control" %>
    </div>

    <div class="form-group row">
      <%= f.label :email, 'メールアドレス',  class: "col-3 align-self-center" %>
      <%= f.email_field :email, autocomplete: "email", class: "col-3 form-control" %>
    </div>

    <div class="form-group row">
      <%= f.label :postal_code, '郵便番号（ハイフンなし）',  class: "col-3 align-self-center" %>
      <%= f.text_field :postal_code, autocomplete: "postal-code", class: "col-3 form-control" %>
    </div>

    <div class="form-group row">
      <%= f.label :address, '住所',  class: "col-3 align-self-center" %>
      <%= f.text_field :address, class: "col-7 form-control" %>
    </div>

    <div class="form-group row">
      <%= f.label :telephone_number, '電話番号（ハイフンなし）',  class: "col-3 align-self-center" %>
      <%= f.text_field :telephone_number, class: "col-3 form-control" %>
    </div>

    <div class="form-group row">
      <%= f.label :password, class: "col-3 align-self-center" do %>
      パスワード
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "col-3 form-control" %>
    </div>

    <div class="form-group row">
      <%= f.label :password_confirmation, 'パスワード（確認用）',  class: "col-3 align-self-center" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-3 form-control" %>
    </div>

    <div class="form-group row">
      <%= f.submit "新規登録", class: "col-3 offset-3 btn btn-success" %>
    </div>
  <% end %>
  <div class="ml-5 mt-4">
    <h3 class="my-bg-lggray">既に登録済みの方</h3><br>
    <%= link_to "こちら", new_session_path(resource_name), class: "ml-5 text-underline" %>からログインしてください
  </div>
</div>