<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if customer_signed_in? %>
        <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %>
      <% else %>
        <%= link_to '新規登録', new_customer_registration_path %>
        <%= link_to 'ログイン', new_customer_session_path %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
